ul {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: inline;
    width: 100px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    white-space: nowrap;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	background-color: #292929;
	border-bottom-width: 1px;
	border-bottom-style: groove;
    border-color: #7b7c9e;
	z-index: 100;
}
